@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input::-ms-clear {
  display: none;
}

input, button, textarea {
  font-family: inherit;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  font-family: "SFProDisplay-Regular", sans-serif;
  background: #E5E5E5;
}

.container {
  max-width: 1200px;
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

.icon {
  fill: #8c8c8c;
}
.icon-like, .icon-comment {
  margin-right: 6.5px;
}

.promo {
  display: block;
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 260px;
  border: 1px solid #e8e8e8;
  margin: 20px 0;
  background: url("../img/promo.jpg") no-repeat center/cover;
}
.promo:before {
  content: "Реклама";
  position: absolute;
  right: 0;
  top: 0;
  padding: 0 26px;
  color: #fff;
  font-size: 12px;
  line-height: 20px;
  background: #c4c4c4;
}

@font-face {
  font-family: "SFProDisplay-Regular";
  src: local("SFProDisplay-Regular"), url("../fonts/SFProDisplay-Regular.woff") format("woff"), url("../fonts/SFProDisplay-Regular.woff2") format("woff2");
  font-weight: normal;
}
@font-face {
  font-family: "SFProDisplay-Semibold";
  src: local("SFProDisplay-Semibold"), url("../fonts/SFProDisplay-Semibold.woff") format("woff"), url("../fonts/SFProDisplay-Semibold.woff2") format("woff2");
  font-weight: bold;
}
.header {
  height: 64px;
  background: #FA8C16;
  padding: 16px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  margin-bottom: 30px;
}
.header__wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-nav {
  max-width: 255px;
  width: 100%;
  margin-left: 60px;
  margin-right: auto;
}
.header-menu {
  display: flex;
}
.header-menu-link {
  color: #FAFAFA;
  padding: 7.5px;
  font-size: 14px;
  line-height: 22px;
}

.input-group {
  position: relative;
  background: #fff;
  border-radius: 4px;
  overflow: hidden;
  border: 1px solid #D9D9D9;
}

.search {
  width: 237px;
  height: 32px;
}
.search-input {
  width: 80%;
  height: 100%;
  font-size: 14px;
  line-height: 22px;
  padding-left: 12px;
}
.search-input::-moz-placeholder {
  color: #BFBFBF;
}
.search-input:-ms-input-placeholder {
  color: #BFBFBF;
}
.search-input::placeholder {
  color: #BFBFBF;
}
.search-button {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 20%;
  background: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.posts {
  max-width: 800px;
}

.content-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}

.post {
  background: #ffffff;
  color: #262626;
  padding-bottom: 0;
  border: 1px solid #e8e8e8;
  margin-bottom: 30px;
}
.post-body {
  padding: 35px;
  padding-bottom: 0;
}
.post-title {
  font-family: "SFProDisplay-Semibold", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  margin-bottom: 19px;
}
.post-text {
  font-size: 14px;
  line-height: 22px;
}
.post-footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background: #FAFAFA;
  border-top: 1px solid #e8e8e8;
  padding: 13px 35px;
}
.post-buttons {
  display: flex;
  align-items: center;
}
.post-button {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  color: #8c8c8c;
  font-size: 14px;
  line-height: 22px;
  margin-right: 19px;
}
.post-author {
  display: flex;
  align-items: center;
  text-align: right;
}
.post-time {
  font-size: 12px;
  line-height: 20px;
  color: #BFBFBF;
}

.tags {
  margin: 10px 0px 22px 0px;
}

.tag {
  font-size: 14px;
  line-height: 22px;
  color: #BFBFBF;
  margin-right: 10px;
}

.author-avatar {
  width: 34px;
  height: 34px;
  margin-left: 9px;
  border-radius: 4px;
}
.author-username {
  color: #8c8c8c;
  font-size: 12px;
  line-height: 20px;
  display: block;
}

.sidebar {
  width: 31%;
}

.user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #FAFAFA;
  border: 1px solid #e8e8e8;
  padding: 15px 25px;
}
.user-info {
  display: flex;
  align-items: center;
}
.user-avatar {
  margin-right: 17px;
  border-radius: 50%;
}
.user-name {
  font-family: "SFProDisplay-Semibold", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #595959;
}

.icon-exit {
  width: 22px;
  height: 22px;
  fill: #000;
}

.sidebar-nav {
  background-color: #fff;
}
.sidebar-menu {
  border: 1px solid #e8e8e8;
  border-top: none;
}
.sidebar-menu-link {
  display: inline-block;
  width: 100%;
  font-size: 14px;
  line-height: 22px;
  color: #595959;
  padding: 16px 48px;
}
.sidebar-menu-link:hover {
  background-color: #FFFBE6;
}
.sidebar-menu-link.active {
  border-right: 3px solid #FAAD14;
  background-color: #FFFBE6;
}

.btn {
  background-color: #FAAD14;
  border-radius: 4px;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  padding: 13px;
}

.btn-new-post {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}

.icon-fire {
  width: 11px;
  height: 13px;
  fill: #fff;
  margin-right: 10px;
}

.card {
  margin-top: 20px;
  background: #FFFFFF;
  border: 1px solid #e8e8e8;
}
.card-header {
  background: #FAFAFA;
  border-bottom: 1px solid #e8e8e8;
  padding: 23px 25px;
}
.card-title {
  font-family: "SFProDisplay-Semibold", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #595959;
}
.card-body {
  padding: 22px 40px 30px 25px;
}
.card-body-title {
  font-family: "SFProDisplay-Semibold", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #D48806;
}
.card-body-text {
  font-size: 14px;
  line-height: 22px;
  color: #262626;
  margin: 10px 0;
}