.posts {
    width: 70%;
    margin: 0 20px;
}

.content-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
}

.post {
    background: #ffffff;
    color: $black;
    padding-bottom: 0;
    border: 1px solid $colorBPost;
    margin-bottom: 30px;

    &-body {
        padding: 35px;
        padding-bottom: 0;
    }

    &-title {
        font-family: "SFProDisplay-Semibold", sans-serif;
        font-size: 16px;
        line-height: 24px;
        font-weight: 600;
        margin-bottom: 19px;
    }

    &-text {
        font-size: 14px;
        line-height: 22px;
    }

    &-footer {
        display: flex;
        justify-content: space-between;
        width: 100%;
        background: $white;
        border-top: 1px solid $colorBPost;
        padding: 13px 35px;
    }

    &-buttons {
        display: flex;
        align-items: center;
    }

    &-button {
        display: flex;
        align-items: center;
        background-color: transparent;
        border: none;
        color: $colorIcon;
        font-size: 14px;
        line-height: 22px;
        margin-right: 19px;
        
    }

    &-author {
        display: flex;
        align-items: center;
        text-align: right;
    }

    &-time {
        font-size: 12px;
        line-height: 20px;
        color: $placeholder;
    }
}

.tags {
    margin: 10px 0px 22px 0px;
}

.tag {
    font-size: 14px;
    line-height: 22px;
    color: $placeholder;
    margin-right: 10px;
}

.author{

    &-avatar {
        width: 34px;
        height: 34px;
        margin-left: 9px;
        border-radius: 4px;
    }

    &-username {
        color: $colorIcon;
        font-size: 12px;
        line-height: 20px;
        display: block;
    }
}

.sidebar {
    width: 30%;
    margin: 0 20px;
}
.user {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: $white;
    border: 1px solid $colorBPost;
    padding: 15px 25px;

    &-info {
        display: flex;
        align-items: center;
    }

    &-avatar {
        margin-right: 17px;
        border-radius: 50%;
    }

    &-name {
        font-family: "SFProDisplay-Semibold", sans-serif;
        font-size: 16px;
        line-height: 24px;
        color: #595959;
    }
}

.icon-exit {
    width: 22px;
    height: 22px;
    fill: #000;
}

.sidebar {
    &-nav {
        background-color: #fff;
    }

    &-menu {
        border: 1px solid $colorBPost;
        border-top: none;

        &-item {
        }
    
        &-link {
            display: inline-block;
            width: 100%;
            font-size: 14px;
            line-height: 22px;
            color: #595959;
            padding: 16px 48px;

            &:hover {
                background-color: #FFFBE6;
            }

            &.active {
                border-right: 3px solid #FAAD14;
                background-color: #FFFBE6;
            }
        }
    }
}

.btn {
    background-color: #FAAD14;
    border-radius: 4px;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    padding: 13px;
}

.btn-new-post {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
}

.icon-fire {
    width: 11px;
    height: 13px;
    fill: #fff;
    margin-right: 10px;
}

.card {
    margin-top: 20px;
    background: #FFFFFF;
    border: 1px solid $colorBPost;

    &-header {
        background: #FAFAFA;
        border-bottom: 1px solid $colorBPost;
        padding: 23px 25px;
    }
    &-title {
        font-family: "SFProDisplay-Semibold", sans-serif;
        font-size: 16px;
        line-height: 24px;
        color: #595959
    }
    &-body {
        padding: 22px 40px 30px 25px;
    
        &-title {
            font-family: "SFProDisplay-Semibold", sans-serif;
            font-size: 16px;
            line-height: 24px;
            color: #D48806;
        } 
         
        &-text {
            font-size: 14px;
            line-height: 22px;
            color: #262626;
            margin: 10px 0;
        }
        
    }
}

@media (max-width: 990px) {
    .sidebar {
        display: none;
    }

    .posts {
        width: 100%;
    }
}




